@font-face {
    font-family: helvetica-bold;
    src: url(../fonts/helvetica_neue_bold.ttf);
}

@font-face {
    font-family: helvetica-light;
    src: url(../fonts/helvetica_neue_light.ttf);
}

@font-face {
    font-family: helvetica-roman;
    src: url(../fonts/helvetica_neue_roman.ttf);
}

* {
	margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: #4d4d4d;
}

.container {
  margin: auto;
  overflow: hidden;
}

header {
  height: 160px;
}

header .container {
  max-width: 1920px;
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .brand-logo {
  width: 150px;
  height: 150px;
}

header .brand-logo img {
  width:100%;
  object-fit: contain;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

header nav {
  transform: translateY(-50%);
}

header nav ul li {
  display: inline-block;
  padding: 10px 20px;
  position: relative;
}

header nav ul li a {
  font-family: helvetica-light;
  line-height: 15px;
}

header nav ul li:last-child  {
  margin-left: 30px;
}

header nav ul li.active::before {
  content: '';
  position:absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #4d4d4d;
}

header nav ul li::before {
  content: '';
  position:absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #4d4d4d;
  transition: 0.5s;
}

header nav ul li:hover::before {
  width: 50px;
}

main {
  margin-top: 10px;
  height: calc(100vh - 170px)
}

main .container {
  max-width: 1520px;
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .product-name {
  position: relative;
  bottom: 70px;
}

main .product-name h1 {
  font-family: helvetica-light;
  font-weight: lighter;
  font-size: 84px;
  line-height: 100px;
  transition: text-shadow 0.5s;
}

main .product-name p {
  font-family: helvetica-light;
  font-weight: lighter;
  font-size: 24px;
  color: #4d4d4d;
  margin-top: 40px;
  transition: text-shadow 0.5s;
}

main .product-name h1:hover,
main .product-name p:hover {
  text-shadow: 4px 4px 5px #ccc;
}

main .product-name p span {
  font-style: italic;
  color: #C7C7C7;
  letter-spacing: -1px;
}

main .product-name button {
  border: 0;
  border-radius: 5px;
  background-color: #F1F1F1;
  font-family: helvetica-light;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  padding: 15px 60px 25px 60px;
  margin-top: 50px;
  margin-left: 12px;
  transition: 0.5s;
}

main .product-name button:hover {
  transform: scale(1.1);
}

main .product-img {
  width: calc(100% - 575px);
  height: 100%;
}

main .product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(0.9);
  transition: transform 1s;
}

main .product-img img:hover {
  transform: scaleX(1);
}

section.other-products {
  margin-top: 10px;
  padding: 10px 0;
}

section.other-products .container {
  max-width: 1520px;
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

section.other-products .item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  width: calc(33.333% - 70px);
  position: relative;
}

section.other-products .item .item-img {
  margin-top: auto;
  flex: 1;
}

section.other-products .item img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

section.other-products .item h4 {
  font-family: helvetica-light;
  font-weight: lighter;
  font-size: 24px;
  transition: 0.8s;
  margin-left: 25px;
  flex: 1;
}

section.other-products .item h4::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 46px;
  height: 7px;
  background-color: #4d4d4d;
  transition: 1s;
}

section.other-products .item:hover h4::after {
  right: 0;
  width: 100%;
}

section.most-popular {
  max-width: 1520px;
  width: 80%;
  height: 100%;
  margin: 100px auto 50px auto;
}

section.most-popular .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section.most-popular h3 {
  font-family: helvetica-light;
  font-weight: lighter;
  font-size: 32px;
  padding-bottom: 70px;
}

section.most-popular .popular-item {
  width: calc(33.333% - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}

section.most-popular .popular-item-img {
  padding: 20px;
}

section.most-popular .popular-item-img img{
  width: 100%;
}

section.most-popular .popular-item h5 {
  font-family: helvetica-light;
  font-weight: lighter;
  font-size: 24px;
}

section.most-popular .popular-item p {
  font-family: helvetica-light;
  font-weight: lighter;
  font-size: 16px;
}

section.most-popular .popular-item .click-item {
  margin-bottom: 50px;
}

section.most-popular .popular-item .click-item img {
  transform: scale(0.8);
  transition: 0.5s;
}

section.most-popular .popular-item .click-item:hover img{
  transform: scale(1);
}

section.most-popular .buy {
  width: 80%;
  display: flex;
  height: 30px;
  margin-top: auto;
}

section.most-popular .buy img {
  height: 100%;
  transform: scale(1);
  transition: 0.5s;
}

section.most-popular .buy img:hover {
  transform: scale(1.3);
}

section.most-popular .buy a:nth-child(2) {
  margin-left: 15px;
}

section.most-popular .buy button {
  margin-left: auto;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  font-family: helvetica-light;
  font-weight: lighter;
  transform: scale(1);
  transition: 0.3s;
  outline: none;
}

section.most-popular .buy button:hover {
  text-shadow: 1px 1px 2px #ccc;
  transform: scale(1.3);
}

section.about-us {
  max-width: 1520px;
  width: 80%;
  height: 100%;
  margin: auto;
  padding-bottom: 70px;
}

section.about-us h3 {
  font-family: helvetica-light;
  font-weight: lighter;
  font-size: 32px;
  padding-bottom: 50px;
}

section.about-us .container {
  display: flex;
  justify-content: space-between;
}

section.about-us .box {
  position: relative;
  flex-basis: calc(33% - 20px);
  overflow: hidden;
}

section.about-us .box img {
  width: 100%;
  height: 100%;
  max-height: 290px;
  object-fit: cover;
  transform: scale(1);
  transition: 0.8s;
}

section.about-us .box:hover img {
  transform: scale(1.2);
}

section.about-us .box h5 {
  font-family: helvetica-light;
  font-weight: lighter;
  font-size: 23px;
  position: absolute;
  top: 30px;
  left: 30px;
  color: #fff;
  opacity: 0.8;
  line-height: 20px;
  pointer-events: none;
}

section.about-us .box h6 {
  font-family: helvetica-light;
  font-weight: lighter;
  font-size: 40px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-style: italic;
  padding: 10px 20px 20px 20px;
  line-height: 40px;
  background-color: #fff;
  pointer-events: none;
}

footer {
  background-color: #f2f2f2;
  padding: 60px 0 0 0;
  position: relative;
}

footer .container {
  max-width: 1520px;
  width: 80%;
  height: 100%;
  margin: auto;
  overflow: visible;
  padding: 20px 0 50px 0;
  border-bottom: 1px solid #ccc;
}

footer .brand-logo {
  width: 87px;
  height: 87px;
  float: left;
  margin-right: 40px;
  position: relative;
  bottom: 20px;
}

footer .footer-flex {
  display: flex;
  justify-content: space-between;
}

footer .footer-flex p {
  font-family: helvetica-light;
  font-weight: lighter;
  font-size: 16px;
  opacity: 0.5;
  line-height: 1.75;
}

footer .footer-flex p span {
  font-style: italic;
}

footer .footer-flex ul li {
  margin-bottom: 8px;
}

footer .footer-flex ul li a {
  font-family: helvetica-light;
  font-weight: lighter;
  line-height: 1.65;
  font-size: 17px;
  transition: 0.3s;
}

footer .footer-flex ul li a:hover {
  color: #ccc;
}

footer .footer-flex address.contact-us {
  font-family: helvetica-light;
  font-weight: lighter;
  font-size: 14px;
}

footer .footer-flex address.contact-us h5 {
  font-size: 17px;
  font-style: normal;
  font-weight: lighter;
}

footer .footer-flex address.contact-us h5 span {
  font-size: 15px;
  font-style: normal;
  font-weight: lighter;
}

footer .social {
  max-width: 1520px;
  width: 80%;
  margin: auto;
  height: 100%;
  padding: 35px 0;
  display: flex;
  justify-content: flex-end;
}

footer .social a {
  margin-left: 35px;
}

footer .social img{
  height: 22px;
  width: 22px;
  transform: scale(1);
  transition: 0.5s;
}

footer .social a:hover img {
  transform: scale(1.3);
}


/* ----------------------Product-page---------------- */

section.product {
  height: calc(100vh - 160px);
}

section.product .container {
  max-width: 1520px;
  width: 80%;
  height:100%;
  margin: auto;
  display: flex;
}

section.product .product-img {
  flex: 2;
}

section.product .product-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

section.product .product-name {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

section.product .product-name h1 {
  font-family: helvetica-light;
  font-weight: lighter;
  font-size: 32px;
  line-height: 45px;
}

section.product .product-name h1 span {
  font-style: italic;
  font-size: 30px;
  color: #ccc;
}

section.product .product-name h2 {
  font-family: helvetica-light;
  font-weight: lighter;
  font-size: 60px;
  margin-top: 20px;
}

section.product .product-name h2 span {
  font-style: italic;
  opacity: 0.8;
}

section.product .product-name p {
  font-family: helvetica-light;
  font-weight: lighter;
  font-size: 18px;
  line-height: 25px;
  margin-top: 10px;
}

section.product .product-name p span {
  font-style: italic;
}

section.product .product-name h6 {
  font-family: helvetica-light;
  font-weight: lighter;
  font-size: 18px;
  margin-top: 40px;
}

section.product .product-name button {
  border: 0;
  border-radius: 5px;
  background-color: #F1F1F1;
  font-family: helvetica-light;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  padding: 14px 64px 23px 64px;
  margin-top: 15px;
  transition: 0.5s;
}

section.product .product-name button:hover {
  transform: scale(1.1);
}

section.product .product-name img {
  width: 30px;
  transition: 0.5s;
}

section.product .product-name .buy-add a{
  position: relative;
  top: 10px;
  left: 35px;
}

section.product .product-name img:hover {
  transform: scale(1.3);
}

footer.product-page {
  padding-top: 40px;
}

/* ---------------------------Products list------------------------- */

section.products-list .container {
  /* width: calc(100vw - 400px); */
  max-width: 1550px;
  width: 80%;
}

section.products-list li {
  border: solid 1px rgba(0,0,0,0.15);
  background-color: #ffffff;
  border-radius: 10px;
  height: 250px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
}

section.products-list ul li:last-child {
  margin-bottom: 90px;
}

/* section.products-list li > div {
  border: 1px dashed green;
} */

section.products-list li .list-img {
  flex: 0 1 300px;
  padding: 35px;
}

section.products-list li .list-desc {
  flex: 1 1 500px;
  padding: 65px 0;
}

section.products-list li .list-buy {
  flex: 0 1 550px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 65px 0;
}

section.products-list li .list-buy .buy {
  flex: 1;
  text-align: center;
  align-self: stretch;
}

section.products-list li .list-buy .buy h4 {
  font-family: helvetica-light;
  font-weight: lighter;
  font-size: 24px;
  line-height: 12px;
}

section.products-list li .list-buy .buy h4 span {
  font-style: italic;
  opacity: 0.7;
}

section.products-list li .list-buy .buy button {
  border: 0;
  border-radius: 5px;
  background-color: #F1F1F1;
  font-family: helvetica-light;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  padding: 14px 0px 23px 0px;
  width: 70%;
  max-width: 180px;
  margin-top: 50px;
  transition: 0.5s;
}

section.products-list li .list-buy .buy button:hover {
  transform: scale(1.1);
}

section.products-list li .list-buy .items-add {
  flex: 1;
  text-align: right;
}

section.products-list li .list-buy .items-add img {
  width: 35px;
  transition: 0.5s;
}

section.products-list li .list-buy .items-add a:last-child img {
  margin-left: 30px;
  margin-right: 20px;
}

section.products-list li .list-buy .items-add a:hover img {
  transform: scale(1.3);
}

section.products-list li .list-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

section.products-list li .list-desc h1 {
  font-family: helvetica-light;
  font-weight: lighter;
  font-size: 32px;
  margin-bottom: 10px;
  line-height: 35px;
}

section.products-list li .list-desc span {
  font-family: helvetica-light;
  font-weight: lighter;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  margin-top: 30px;
}

@media (max-width:992px) {
  section.products-list li .list-img {
    flex: 0 0 250px;
    padding: 55px;
  }

  section.products-list li .list-desc {
    position: absolute;
    padding-top: 35px;
    padding-bottom: 5px;
    left: 220px;
    max-width: 240px;
  }

  section.products-list li .list-desc span {
    margin-top: 10px;
  }

  section.products-list li .list-buy {
    padding-bottom: 28px;
    padding-top: 97px;
  }

  section.products-list li .list-buy .buy h4 {
    position: relative;
    top: 20px;
  }
}

@media (max-width:768px) {

  section.products-list .container {
    width: 87%;
  }

  section.products-list li {
    height: 160px;
  }

  section.products-list li .list-img {
    flex: 0 0 200px;
    padding: 20px;
  }

  section.products-list li .list-desc {
    padding-top: 0;
    padding-bottom: 0;
    left: 190px;
  }

  section.products-list li .list-desc h1 {
    font-size: 15px;
    margin-bottom: 0;
  }

  section.products-list li .list-desc span {
    font-size: 12px;
    margin-top: 0;
  }

  section.products-list li .list-buy .buy h4 {
    font-size: 13px;
    position: relative;
    top: 35px;
  }

  section.products-list li .list-buy .items-add img {
    width: 20px;
  }

  section.products-list li .list-buy .items-add a:last-child img {
    margin-left: 15px;
  }

  section.products-list li .list-buy {
    padding: 40px 0;
    margin-left: auto;
  }

  section.products-list li .list-buy .items-add {
    position: relative;
    top: 18px;
    text-align: right;
  }

  section.products-list li .list-buy .buy button {
    font-size: 13px;
    padding: 5px 0px 10px 0px;
  }

  footer .brand-logo {
    bottom: 0;
  }
}

@media (max-width: 576px) {
  section.products-list li .list-img {
    flex: 0 0 90px;
    padding: 8px;
  }

  section.products-list li .list-desc {
    padding-top: 0;
    padding-bottom: 0;
    left: 95px;
  }

  section.products-list li .list-buy {
    padding: 40px 0;
    margin: 0;
  }
}





@media (max-width:1200px) {
  main .product-img {
        width: calc(100% - 480px);
  }

  main .product-name h1 {
    font-size: 48px;
  }

  main .product-name p {
    font-size: 20px;
  }

  main .product-name button {
    font-size: 13px;
    padding: 5px 35px 10px 35px;
  }

  section.other-products .item {
    width: calc(33.333% - 20px);
  }

  section.other-products .item h4 {
    font-size: 15px;
  }

  section.most-popular .popular-item {
    width: calc(33.333% - 30px);
  }

  section.most-popular .container {
    padding: 0 5px;
  }

  section.most-popular .popular-item .click-item {
    margin-bottom: 30px;
  }

  section.most-popular .popular-item h5 {
    font-size: 15px;
    padding-bottom: 8px;
  }

  section.most-popular .popular-item p {
    font-size: 13px;
  }

  section.most-popular .buy button {
    font-size: 13px;
  }

  section.most-popular .buy {
    height: 20px;
  }

  section.most-popular h3,
  section.about-us h3 {
    font-size: 18px;
  }

  header nav ul li a {
    font-size: 13px;
  }

  section.about-us .box h5 {
    font-size: 15px;
  }

  section.about-us .box h5 {
    top: 12px;
    left: 12px;
  }

  section.about-us .box h6 {
    font-size: 20px;
    line-height: 15px;
    padding: 10px 10px 15px 10px;
    bottom: 12px;
    left: 12px;
  }

  footer .brand-logo {
    width: 44px;
    height: 44px;
  }

  footer .footer-flex p {
    font-size: 13px;
  }

  footer .footer-flex ul li a {
    font-size: 13px;
  }

  footer .footer-flex address.contact-us {
    font-size: 13px;
  }

  footer .footer-flex address.contact-us h5 {
    font-size: 14px;
  }

  footer .social img {
    font-size: 17px;
  }

  section.most-popular {
    margin: 100px auto 0px auto;
  }

  header .brand-logo {
    width: 80px;
    height: 80px;
  }

  header {
    height: 90px;
  }

  header nav {
    transform: translateY(-25%);
  }

  section.product {
    height: calc(100vh - 90px);
  }
}

@media (max-width: 992px) {

  section.product .product-img {
    flex: 1;
  }

  section.product .product-name {
    flex: 1;
  }

  section.product .product-name h1 {
    font-size: 20px;
  }

  section.product .product-name h1 span{
    font-size: 18px;
  }

  section.product .product-name h2 {
    font-size: 38px;
  }

  section.product .product-name p {
    font-size: 16px;
  }

  section.product .product-name h6 {
    font-size: 13px;
  }

  section.product .product-name button {
    font-size: 13px;
    padding: 5px 50px 10px 50px;
  }

  section.product .product-name img {
    width: 25px;
  }

}

@media (max-width: 970px) {
  main .container,
  section.other-products .container,
  section.most-popular,
  section.about-us,
  footer .container,
  footer .social {
    width: 95%;
  }
}


@media (max-width: 800px) {

  main {
    height: calc(100vh - 100px);
  }

  main .container {
    flex-direction: column;
    justify-content: center;
  }

  main .product-name {
    position: static;
    order: 1;
    width: 100%;
  }

  main .product-img {
    height: auto;
    width: 90%;
  }

  main .product-name h1 {
    font-size: 20px;
    line-height: 30px;;
    margin-top: 20px;
  }

  main .product-name p {
    font-size: 14px;
    margin-top: 5px;
  }

  main .product-name button {
    margin: 0;
    margin-top: 30px;
    padding: 10px 52px 15px 52px;
    position: relative;
    left: 50%;
    transform:translateX(-50%);
  }

  main .product-name button:hover {
    transform: translateX(-50%) scale(1);
  }

  section.other-products .container {
    flex-direction: column;
    justify-content: space-between;;
    align-items: center;
  }

  section.other-products .item {
    width: 60%;
    flex-direction: column;
    margin-bottom: 25px;
  }

  section.other-products .item h4 {
    margin-left: 0;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    text-align: center;
  }

  section.other-products .item h4::after {
    width: 40px;
    height: 2px;
    right: 0;
    left: 0;
    margin: auto;
  }

  section.most-popular {
    margin: 20px auto 0px auto;
  }

  section.most-popular .container {
    flex-direction: column;
  }

  section.most-popular .popular-item {
    width: 60%;
    margin: auto;
    padding-bottom: 60px;
  }

  section.most-popular h3 {
    padding-bottom: 15px;
    text-align: center;
    margin-top: 50px;
  }

  section.about-us h3 {
    text-align: center;
    padding-bottom: 20px;
  }

  section.about-us .container {
    flex-direction: column;
  }

  section.about-us .box {
    margin-bottom: 20px;
  }

  section.about-us {
    padding-bottom: 10px;
  }

  footer {
    background-color: transparent;
    padding: 0;
  }

  footer.product-page {
    background-color: #f2f2f2;
  }

  footer .container {
    padding-top: 0;
    padding-bottom: 30px;
  }

  footer .brand-logo {
    width: 87px;
    height: 87px;
    margin-right: 10px;
  }

  footer .footer-flex p {
    font-size: 12px;
  }

  footer .footer-flex ul {
    display: none;
  }

  footer .social {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
    padding-bottom: 15px;
  }

  footer .social a {
    margin-bottom: 20px;
  }

  footer .footer-flex address.contact-us {
    position: absolute;
    bottom: 50px;
    left: 25px;
  }
}

@media (max-width: 768px) {

  section.product .container {
    flex-direction: column;
  }

  section.product .product-img {
    height: 40%;
  }

  section.product {
    padding-bottom: 25px;
  }

  section.product .product-name h1 {
    font-size: 16px;
  }

  section.product .product-name h2 {
    font-size: 20px;
  }

  section.product .product-name p {
    font-size: 13px;
  }

  section.product .product-name h6 {
    width: 100%;
    text-align: center;
  }

  section.product .product-name .buy-add {
    width: 100%;
    text-align: center;
  }

  section.product .product-name button {
    padding: 10px 35px 15px 35px;
  }

  section.product .product-name .buy-add a {
    left: 20px;
  }

}

@media (max-width: 370px) {
  section.product {
    height: auto;
  }
}

@media (max-width: 360px) {
  main .product-img {
    width: 55%;
  }
}
